# sudo nano ~/.nanorc
# Non-default settings
set atblanks # wrap line at blanks.
set cutfromcursor # CTRL+K cuts from cursor position to end of line.
set nohelp # disable the help information (CTRL+G to view the help screen).
set softwrap # enable softwrap of lines.
set suspend # enables CTRL+Z to suspend nano.
set tabsize 4 # set tab-to-spaces size to 4.
set tabstospaces # convert tab key press to spaces.
include "/usr/share/nano/*.nanorc" # enable the syntax highlighting.
set speller "aspell -x -c" # set what spelling utility to use.
set constantshow # display useful information e.g. line number and position in the bottom bar.
set linenumbers # lines are numbered.
set casesensitive # case insensitive search.
set historylog # save the last 100 history searches for later use.
set positionlog # save the cursor position between editing sessions.
set zap # allows highlighting text (CTRL+SHIFT+ARROW) and delete it with backspace.
set autoindent # a new line will have the same number of leading spaces as the previous one.
set indicator # display a scroll bar on the right that shows the position and size of the current view port.
set minibar # display file name and other information in the bottom bar. Removes top bar.

# Enable and set a working backup directory
set backup # create backups of your current file.
set backupdir "~/.cache/nano/backups/" # the location of the backups.

# Shortcut key bindings
bind ^C copy main # CTRC+C - Copy
bind ^V paste all # CTRL+V - Paste
bind ^F whereis all # CTRL+F - Find
bind ^S savefile main # CTRL+S - Save 
